/*
Theme Name: ephemera
Theme URI: http://a-z-ephemera/ephemera/
Description: Twenty Seventeen Child Theme
Author: Mark Barratt and Caroline Siew Cheng Teng
Author URI: http://www.textmatters.com
Template: twentyseventeen
Version:1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html

Tags: one-column, two-columns, right-sidebar, flexible-header, accessibility-ready, custom-colors, custom-header, custom-menu, custom-logo, editor-style, featured-images, footer-widgets, post-formats, rtl-language-support, sticky-post, theme-options, threaded-comments, translation-ready
Text Domain: twentyseventeen-child
*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,700,800&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');

body {
    background-color: #252729;
    color: #fff;
    }

body, button, input, select, textarea {
    font-family: "Open Sans", sans-serif;
    background-color: #252729;
    color: #fff;
    }
    
.site-content-contain {
    background-color: #252729;
    }
   
.site-content {
		padding: 2.5em 0 0;
	}

@media screen and (min-width:48em) {
	
	.site-content {
		padding: 0em;
	}

}

.wrap {
    background-color: #252729;
    color: #fff;
    }
    
@media screen and (min-width: 48em) {

    .wrap {
        max-width: 1200px;
    }

}
    
/* COLUMN LAYOUT */

.cols1 {
   display: block;
   float: right;
   width: 100%;
   padding-right: 1em;
   }
   
.cols2 {
   display: block;
   float: right;
   width: 100%;
   padding-right: 1em;
   }
   
body.single-az_leaf cols2 {
    padding: 0;
    }
   
.col3 {
    width:100%;
    }
   
@media screen and (min-width: 30em) {
    .cols1 {
       display: block;
       float: right;
       width: 50%;
       padding-right: 1em;
       }
   
    .cols2 {
       display: block;
       float: right;
       width: 50%;
       padding-right: 1em;
       }
   }

@media screen and (min-width: 48em) {
    .cols1 {
       display: block;
       float: right;
       width: 33%;
       padding-right: 1em;
       }
   
    .cols2 {
       display: block;
       float: right;
       width: 66%;
       padding-right: 1em;
       }
   }

/* SIDE-BY-SIDE IMAGES IN DUO CONTENT TYPE */

/* first kill padding in cols2 */

body.single-az_duo .cols2 {
     padding: 0;
     }
     
/* line up and scale the divs enclosing figures */

.cols2 .subjectdiv, .cols2 .objectdiv {
    width: 50%;
    float: left;
    }
    
/* Attend to caption */

.subjectdiv figcaption, .objectdiv figcaption {
    text-align: center;
    text-transform: uppercase;
    }
    
/* Hover on link, different for image and caption */

.subjectdiv a:hover, .objectdiv a:hover {
    color: green;
    }
    
.subjectdiv img:hover, .objectdiv a:hover {
    opacity: 0.5;
    }

/* FOOTER */
    
.site-footer {
    border: none;
    }

footer {
    background-color: #252729;
    color: #fff;
    }
    
@media screen and (min-width: 48em) {
    .site-info {
        width: 100%;
        }
    }
    
.site-info a {
    color: #fff;
    width: 100%;
}

.social {
    display: block;
    float: right;
    }
    
.social a {
    text-decoration: none;
    }
 
 /* SITE HEADER */
    
.site-header {
    background-color: #252729;
    }
    
.custom-header {
    display: inline-block;
    float: left;
    max-width: 75%;
	padding: 0.5em;
    }
    
h1.site-title, .site-title a {
    color: #fff;
    font-size: 1.1em;
    font-weight: 600;
    text-transform: none;
    }
    
.site-title, .site-title a {
    color: #fff;
    font-size: 1em;
    font-weight: 600;
    text-transform: none;
    }

    
/* TOP NAVIGATION */

.menu-main-nav-container {
    display: none;
    }
    
.main-navigation.toggled-on .menu-main-nav-container {
    display: block;
    width: 20em;
    float: right;
    overflow: visible;
    position: relative;
    }

@media screen and (min-width: 48em) {
	
	.main-navigation li {
		display: block;
		}
}

.navigation-top {
    display: block;
    max-width: 25%;
    float: right;
    background-color: #252729;
    color: #fff;
    border: none;
    }
    
.navigation-top a {
    color: #fff;
    font-weight: 400;
	padding: 0px;
    }
    
.navigation-top .current-menu-item > a, .navigation-top .current_page_item > a {
    color: #60AA61;
	padding-left: 10px;
}
    
.menu-toggle {
    color: #fff;
    text-align: right;
	padding-right: 10px;
    }
    
.menu-toggle:focus {
     outline: 0;
     }
     
@media screen and (min-width: 30em) {

    .site-branding {
        padding: 1em 0;
        background-color: #252729;
        }
        
    .js .main-navigation ul, .main-navigation .menu-item-has-children > a > .icon, .main-navigation .page_item_has_children > a > .icon, .main-navigation ul a > .icon {
        display: none;
        }
        
    .js .main-navigation.toggled-on > div > ul {
        display: block;
        }
        
    .js .menu-toggle, .js .dropdown-toggle {
        display: block;
        }

    }

@media screen and (min-width: 48em) {

    .site-header {
        max-width: 1200px;
        margin: 0 auto;
        }
        
    .navigation-top {
        border: none;
        font-size: 16px;
        font-size: 1rem;
        position: relative;
        }

    .js .main-navigation ul, .main-navigation .menu-item-has-children > a > .icon, .main-navigation .page_item_has_children > a > .icon, .main-navigation ul a > .icon {
        display: none;
        }
        
    .js .menu-toggle, .js .dropdown-toggle {
        display: block;
        }           
 
    }
    
/* LETTER NAVIGATION */

#az-slider {
    text-align: center;
	font-size: 1.1em;
	line-height: 1;
    }

@media screen and (min-width: 30em) {
	#az-slider {
		font-size: 1.2em;
		}
}

@media screen and (min-width: 48em) {
	#az-slider {
		font-size: 1.2em;
		}
}
    
#az-slider li {
    display: inline-block;
    list-style-type:none;
    margin-right: 1.1em;
    border-radius: 1em;
	padding-bottom: 2em;
    }
    
#az-slider li.current-menu-item {
    display: inline-block;
    list-style-type:none;
    margin-right: 0.5em;
    padding: 0.3em 0.8em;
    background-color: green;
    border-radius: 1em;
	line-height: 1.5;
    }

    
#az-slider li a {
    color: white;
    }
    
    
/* BODY TYPOGRAPHY */

.page .panel-content .entry-title, .page-title, .entry-title {
    color: #fff;
	font-size:1.4em;
    }

@media screen and (min-width: 30em) {

   .big-letter {
       font-size: 1.2em;
   }
}

p { 
	font-size:14px;
	}
    
a {	
    color: #fff;
    }
    
/* STUFF */

.big-letter {
   font-family: "Abril Fatface", serif;
   font-size: 7em;
   line-height: 1em;
   color: green;
   }
   
@media screen and (min-width: 30em) {

   .big-letter {
       font-size: 10em;
   }

}

@media screen and (min-width: 48em) {

   .big-letter {
	padding-top: 0.2em;
   font-family: "Abril Fatface", serif;
   font-size: 10em;
   line-height: 1em;
   color: green;
   }

}

   
/* SCROLLING IMAGE PAGE USING body.single-az_images */

img.alignleft {
    margin: 0 0.5em 0.5em 0;
    padding: 0;
    }

body.single-az_images .cols2 {
    width: 100%;
    padding-right: 0;
    }
    
body.single-az_images img.alignleft {
    width: 100%;
    margin: 0;
    padding: 0 0 0.5em 0;
    }

@media screen and (min-width: 30em) {

    body.single-az_images img.alignleft {
        width: 50%;
        margin: 0;
        padding: 0 0.5em 0.5em 0;
        }

}


@media screen and (min-width: 48em) {

    body.single-az_images img.alignleft {
        width: 33%;
        margin: 0;
        padding: 0 0.5em 0.5em 0;
        }


}
